body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #ddd;
  height: 100%;
}

.background-container--img1 {
  background-image: url('./img/lake-gb2b8376e5_1920.jpg');
  min-height: 100%;
}

.background-container--img2 {
  background-image: url('./img/road-gdfa437804_1920.jpg');
  min-height: 80%;
}

.background-container--img3 {
  background-image: url('./img/aurora-ga60d2bb72_1920.jpg');
  min-height: 80%;
}

.background-container--img4 {
  background-image: url('./img/mountains-gf22bbb400_1920.jpg');
  min-height: 80%;
}
.background-container--img5 {
    background-image: url('./img/red-carnation-g03eecf713_1920.jpg');
    min-height: 80%;
  }
.background-container--img1,
.background-container--img2,
.background-container--img3,
.background-container--img4,
.background-container--img5 {
  /*position: relative;*/
  /* resmi en düzgün sekilde konumlandirma ve boyutlandirma*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*TODO: Parallax*/
  background-attachment: fixed;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-container__heading--logo {
  width: 100%;
  margin: 1rem;
  border: 10px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.heading-container {
  /*position: absolute;*/
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: black;
  line-height: 3rem;
}

.heading-container__heading--big {
  background-color: white;
  padding: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  outline: 0.5rem inset blue;
  outline-offset: 1rem;
  text-transform: uppercase;
  line-height: 7rem;
}
.heading-container__heading--text{
    color: whitesmoke;
}
.heading-container__heading--small1 {
  background-color: white;
  padding: 0.7rem;
  border-top-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  outline: 0.4rem inset cyan;
  outline-offset: 0.2rem;
  text-transform: capitalize;
  line-height: 5rem;
}

.heading-container__heading--small2 {
    background-color: orange;
    padding: 0.7rem;
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    outline: 0.4rem inset black;
    outline-offset: 0.2rem;
    text-transform: capitalize;
    line-height: 5rem;
  }
.heading-container__heading--big-last {
    background-color: white;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    outline: 0.5rem inset rgb(236, 27, 62);
    outline-offset: 1rem;
    text-transform: uppercase;
    line-height: 7rem;
}  

.section {
  text-align: center;
  padding: 3rem 5rem;
}

.section--light {
  background-color: rgb(241, 241, 241);
  color: #666;
}

.section--dark {
  background-color: #282e34;
  color: #ddd;
}

@media screen and (max-width: 760px) {
  .heading-container {
    font-size: 1.5rem;
  }
  .heading-container__heading--big {
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    outline: 0.4rem inset blue;
    background-color: white;
    outline-offset: 0.6rem;
    line-height: 2.4rem;
  }
  .heading-container__heading--big-last {
    background-color: white;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    outline: 0.4rem inset rgb(236, 27, 62);
    outline-offset: 0.6rem;
    text-transform: uppercase;
    line-height: 2.5rem;
}  
  .heading-container__heading--small1 {
    padding: 0.4rem;
    border-top-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    outline: 0.2rem inset cyan;
    background-color: white;
    outline-offset: 0.1rem;
    line-height: 2.4rem;
  }
  .heading-container__heading--small2 {
    padding: 0.4rem;
    border-top-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    outline: 0.2rem inset black;
    background-color:orange;
    outline-offset: 0.1rem;
    line-height: 2.4rem;
  }
  .heading-container__heading--logo {
    width: 60%;
  }
  .section {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 568px) {
  .background-container--img1,
  .background-container--img2,
  .background-container--img3,
  .background-container--img4,
  .background-container--img5  {
    background-attachment: scroll;
  }
  .heading-container {
    font-size: 1.2rem;
  }
}
